# Base URL for the Identity authentication service
# ex: https://identity.ic0.app
HTTP_AGENT_HOST=

# Base URL for the NFID authentication service
# ex: https://nfid.one/authenticate/
HTTP_AGENT_HOST_NFID=

# Canister ID for the ICRC auction service
# ex: farwr-jqaaa-aaaao-qj4ya-cai
CANISTER_ID_ICRC_AUCTION=

# Canister ID for the metal prices API service
# ex: k2ic6-3yaaa-aaaao-a3u6a-cai
CANISTER_ID_METAL_PRICES_API=

# Canister ID for the ckBtc Minter service
# ex: mqygn-kiaaa-aaaar-qaadq-cai
CANISTER_ID_CKBTC_MINTER=

# Origin URL for the authentication derivation environment
# ex: https://5kqtj-oaaaa-aaaao-a3q5a-cai.icp0.io
ENV_AUTH_DERIVATION_ORIGIN=

# Default token selected for the environment
# ex: ICP
ENV_TOKEN_SELECTED_DEFAULT=

# Default quote token for the environment
# ex: USDT
ENV_TOKEN_QUOTE_DEFAULT=

# URL for the help documentation page
# ex: https://www.notion.so/DailyBid-Comprehensive-FAQ-Guide-12a06e4cf7e380659ecbe7e10b3b4955
ENV_HELP_DOC_URL=

# Tokens available for the metal prices API
# ex: XAG:Silver,XAU:Gold,XPD:Palladium,XPT:Platinum,EUR:Euro,JPY:Japanese Yen,GBP:British Pound,CHF:Swiss Franc,BRL:Brazilian Real
ENV_METAL_PRICES_API_TOKENS=

# API key for accessing crypto price data (CoinGecko) 
ENV_CRYPTO_API_KEY=

# Tokens available for the crypto prices API
# ex: bitcoin:BTC:Bitcoin,ethereum:ETH:Ethereum,internet-computer:ICP:Internet Computer,origyn-foundation:OGY:Origyn
ENV_CRYPTO_PRICES_API_TOKENS=

# JSON mapping of alternative token symbols to standard symbols
# ex: {"GLDT":"XAU","EURC":"EUR"}
ENV_TOKEN_MAP=

# aes key. 32 characters
ENV_AES_KEY=

# Tokens available for the dexscreener prices API
# ex: OGY:Origyn:icp:ttnzy-lyaaa-aaaag-qj2bq-cai,GLDT:Gold Token:icp:rjvuj-vaaaa-aaaag-qnbaa-cai
ENV_CRYPTO_DEXSCREENER_API_ICP_TOKENS=

# API key for accessing the dpaste API
ENV_DPASTE_API_KEY=

# URL for the login II proxy page
ENV_LOGIN_II_PROXY_PAGE_LINK=

# Deep link for the Telegram bot
ENV_TELEGRAM_DEEP_LINK=

# Alternative link for the Telegram bot
ENV_TELEGRAM_ALTERNATIVE_LINK=

# Token for accessing the Mixpanel API
ENV_MIXPANEL_TOKEN=
